<!DOCTYPE html>
<html>
<head>
    <title>Smart Hostel Management</title>
</head>
<body>

    <h2>Student Registration</h2>

    <form action="/saveStudent" method="post">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Room Number:</label><br>
        <input type="text" name="roomNumber"><br><br>

        <button type="submit">Add Student</button>
    </form>

</body>
</html>